In [57]:
import pandas as pd

In [58]:
df = pd.read_feather('../data/annotated_data.feather')
df.head()

,id,title,abstract,publication_year,type,doi,INCLUDE,4 - 1. Economic instruments,4 - 2. Regulatory Instruments,"4 - 3. Information, education and training",...,8 - 05. Transport,8 - 06. Waste,8 - 15. Cross-sectoral,10 - 3. Quantitative,10 - 4. Qualitative,17 - 0. Supranational and international,17 - 1. National,17 - 2. Sub-national,19 - 0. Ex-post,19 - 1. Ex-ante
0,W999667810,Modelling Stand Dynamics after Selective Loggi...,Abstract: Forest degradation and biomass damag...,2012,None,None,0.870117,0.970215,0.000000,0.010002,...,0.020004,0.010002,0.029999,0.990234,0.000000,1.000000,0.449951,0.000000,0.080017,0.790039
1,W999644455,"Mathematics, Politics, and Greenhouse Gas Inte...",While reading the newspaper one morning in spr...,2003,journal-article,https://doi.org/10.5951/mt.96.9.0646,0.979980,0.010002,0.059998,0.020004,...,0.010002,0.010002,0.939941,0.640137,0.239990,0.010002,0.779785,0.010002,0.959961,0.029999
2,W999485533,The Contribution of Rural Development Programm...,"The Health Check reform, reinforcing the Commo...",2012,book-chapter,https://doi.org/10.1007/978-3-642-22266-5_23,0.990234,0.290039,0.439941,0.010002,...,0.010002,0.020004,0.049988,0.620117,0.239990,0.010002,1.000000,0.010002,0.970215,0.189941
3,W998914803,Negotiating greenhouse abatement and the theor...,The initial qualified commitment of Annex 1 co...,1999,book-chapter,https://doi.org/10.1007/978-94-015-9169-0_3,0.990234,0.939941,0.010002,0.010002,...,0.010002,0.010002,0.979980,0.529785,0.320068,1.000000,0.010002,0.000000,0.260010,0.990234
4,W998247206,Is the introduction of a carbon tax a ‘teachab...,With the arrival of the carbon tax earlier thi...,2012,None,None,0.990234,0.979980,0.010002,0.020004,...,0.000000,0.010002,0.589844,0.439941,0.439941,0.010002,0.010002,0.010002,0.010002,0.990234

In [59]:
import psycopg2
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://nacsos:mcc1234@srv-mcc-apsis-rechner:5432/oa")

#df = df.head()

with engine.connect() as con:
    vals = ",".join([f"'{x}'" for x in df["id"].values])
    stmt = f"SELECT * FROM openalex.works_authorships WHERE work_id in ({vals})"
    wa = pd.read_sql(stmt, con)
    wa = wa.drop_duplicates(['work_id','author_id','position'])
    print(f'Found {wa.shape[0]} work-authorship combinations')
    vals = ",".join([f"'{x}'" for x in wa["author_id"].values])
    stmt = f"SELECT * FROM openalex.authors WHERE id in ({vals})"
    adf = pd.read_sql(stmt, con).rename(columns={'id': 'author_id','display_name':'author_name'})
    print(f'Found {adf.shape[0]} authors')
    adf = adf[['author_id','id_orcid','author_name']]
    # get list of institutions
    inst_ids = list(set([item for sublist in wa['institutions'].dropna() for item in sublist]))
    vals = ",".join([f"'{x}'" for x in inst_ids])
    # unflattened version
    # vals = ",".join([f"'{x}'" for x in set(wa['institutions']))
    stmt = f"SELECT * FROM openalex.institutions WHERE id in ({vals})"
    idf = pd.read_sql(stmt, con).rename(columns={
        'id': 'institution_id',
        'display_name':'institution_name',
        'type':'institution_type',
        'country_code': 'institution_country_code'
    })
    idf = idf[['institution_id','institution_name','institution_type','institution_country_code']]
    print(f'Found {idf.shape[0]} institutions')

wi = []
for i, row in wa.dropna(subset=['institutions']).iterrows():
    for inst in row['institutions']:
        wi.append({'work_id': row['work_id'], 'author_id': row['author_id'], 'institution_id': inst})
wi_df = pd.DataFrame.from_dict(wi).drop_duplicates()
author_df = wa.merge(adf).merge(wi_df, how='left').merge(idf, how='left').sort_values(['work_id','position'])
author_df = author_df.drop(columns='row_id').reset_index(drop=True)
author_df.to_feather('../data/authors.feather')
author_df.head()

Found 244890 work-authorship combinations
Found 127105 authors
Found 10848 institutions

,work_id,author_id,position,exact_position,institutions,raw_affiliation,is_corresponding,id_orcid,author_name,institution_id,institution_name,institution_type,institution_country_code
0,W100066195,A5071358280,first,None,[I1317774081],"Institute for Applied Systems Analysis, Laxenb...",False,None,T. Ermolieva,I1317774081,International Institute for Applied Systems An...,nonprofit,AT
1,W100066195,A5016497674,last,None,[I1317774081],"Institute for Applied Systems Analysis, Laxenb...",False,https://orcid.org/0000-0002-6107-0972,M. Makowski,I1317774081,International Institute for Applied Systems An...,nonprofit,AT
2,W100066195,A5015439686,middle,None,[I1317774081],"Institute for Applied Systems Analysis, Laxenb...",False,None,Y. Ermoliev,I1317774081,International Institute for Applied Systems An...,nonprofit,AT
3,W100066195,A5062073716,middle,None,[I1317774081],"Institute for Applied Systems Analysis, Laxenb...",False,None,G. Fischer,I1317774081,International Institute for Applied Systems An...,nonprofit,AT
4,W100066195,A5016531914,middle,None,[I1317774081],"Institute for Applied Systems Analysis, Laxenb...",False,https://orcid.org/0000-0003-1269-4145,M. Jonas,I1317774081,International Institute for Applied Systems An...,nonprofit,AT

In [47]:
for i, row in wa.dropna(subset=['institutions']).iterrows():
    for inst in row['institutions']:
        wi.append({'work_id': row['work_id'], 'author_id': row['author_id'], 'institution_id': inst})

In [45]:
wa

,row_id,work_id,author_id,position,exact_position,institutions,raw_affiliation,is_corresponding
0,206646408,W998914803,A5046344627,first,None,[I1305567367],Australian Bureau of Agricultural and Resource...,False
1,206646409,W998914803,A5073590633,last,None,[I1305567367],Australian Bureau of Agricultural and Resource...,False
2,633808508,W998247206,A5036243563,first,None,None,None,False
3,633808509,W998247206,A5010713792,middle,None,None,Department of Psychology,False
4,633808510,W998247206,A5063276221,last,None,None,None,False
5,135853852,W999644455,A5089498154,first,None,[I290598920],1 Teaches mathematics at California State Univ...,True
6,300229072,W999644455,A2665396905,first,None,[I290598920],1 Teaches mathematics at California State Univ...,True
7,476615880,W999485533,A4330637046,first,None,[I4210116113],Istituto Superiore per la protezione e la rice...,False
8,476615881,W999485533,A2304790629,middle,None,[I4210116113],Istituto Superiore per la protezione e la rice...,False
9,476615882,W999485533,A4337813683,middle,None,[I4210116113],Istituto Superiore per la protezione e la rice...,False
10,476615883,W999485533,A2480006302,last,None,[I4210116113],Istituto Superiore per la protezione e la rice...,False
11,618178696,W999485533,A5026311689,first,None,[I4210116113],Istituto Superiore per la protezione e la rice...,False
12,618178697,W999485533,A5085922139,middle,None,[I4210116113],Istituto Superiore per la protezione e la rice...,False
13,618178698,W999485533,A5006310038,middle,None,[I4210116113],Istituto Superiore per la protezione e la rice...,False
14,618178699,W999485533,A5004847850,last,None,[I4210116113],Istituto Superiore per la protezione e la rice...,False

In [51]:
dups = ["A4330637046","A5026311689"]
adf[adf['author_id'].isin(dups)]

     author_id id_orcid          author_name
3  A5026311689     None  Rocío Dánica Cóndor

In [54]:
vals = ",".join([f"'{x}'" for x in dups])
with engine.connect() as con:
    stmt = f"SELECT * FROM openalex.authors WHERE id in ({vals})"
    adf = pd.read_sql(stmt, con).rename(columns={'id': 'author_id','display_name':'author_name'})
    
adf

,author_id,cited_by_count,works_count,h_index,i10_index,author_name,display_name_alternatives,id_mag,id_orcid,id_scopus,id_twitter,id_wikipedia,created_date,updated_date
0,A5026311689,30,8,2,2,Rocío Dánica Cóndor,"{R. D. Cóndor,R.D. Cóndor,Rocío Dánica Cóndor,...",None,None,None,None,None,2023-07-21,2023-07-28 03:42:09.480285

In [36]:
wi = []
for i, row in wa.dropna(subset=['institutions']).iterrows():
    for inst in row['institutions']:
        wi.append({'work_id': row['work_id'], 'institution_id': inst})
wi_df = pd.DataFrame.from_dict(wi).drop_duplicates()
wi_df

      work_id institution_id
0  W998914803    I1305567367
2  W999644455     I290598920
3  W999485533    I4210116113

In [42]:
author_df = wa.merge(adf).merge(wi_df, how='left').merge(idf).sort_values(['work_id','position'])
author_df

,row_id,work_id,author_id,position,exact_position,institutions,raw_affiliation,is_corresponding,id_orcid,author_name,institution_id,institution_name,institution_type,institution_country_code
0,206646408,W998914803,A5046344627,first,None,[I1305567367],Australian Bureau of Agricultural and Resource...,False,None,Mike Hinchy,I1305567367,Australian Bureau of Agricultural and Resource...,government,AU
1,206646409,W998914803,A5073590633,last,None,[I1305567367],Australian Bureau of Agricultural and Resource...,False,None,Brian S. Fisher,I1305567367,Australian Bureau of Agricultural and Resource...,government,AU
3,618178696,W999485533,A5026311689,first,None,[I4210116113],Istituto Superiore per la protezione e la rice...,False,None,Rocío Dánica Cóndor,I4210116113,Istituto Superiore per la Protezione e la Rice...,government,IT
6,618178699,W999485533,A5004847850,last,None,[I4210116113],Istituto Superiore per la protezione e la rice...,False,None,Marina Colaiezzi,I4210116113,Istituto Superiore per la Protezione e la Rice...,government,IT
4,618178697,W999485533,A5085922139,middle,None,[I4210116113],Istituto Superiore per la protezione e la rice...,False,None,Marina Vitullo,I4210116113,Istituto Superiore per la Protezione e la Rice...,government,IT
5,618178698,W999485533,A5006310038,middle,None,[I4210116113],Istituto Superiore per la protezione e la rice...,False,None,Domenico Gaudioso,I4210116113,Istituto Superiore per la Protezione e la Rice...,government,IT
2,135853852,W999644455,A5089498154,first,None,[I290598920],1 Teaches mathematics at California State Univ...,True,None,Stan Yoshinobu,I290598920,"California State University, Dominguez Hills",education,US

In [15]:
inst_list = set([item for sublist in wa['institutions'].dropna() for item in sublist])
inst_list

{'I4210096263',
 'I197323543',
 'I50441567',
 'I4210112042',
 'I4210102741',
 'I4210160189',
 'I4210141103',
 'I4210151417',
 'I4210158162',
 'I4210087173',
 'I4210158885',
 'I4210102206',
 'I97018004',
 'I4210087306',
 'I105818395',
 'I15823474',
 'I165232561',
 'I2801568573',
 'I189196454',
 'I4210160030',
 'I4210127143',
 'I4210127591',
 'I203765153',
 'I4210094894',
 'I39774598',
 'I91044093',
 'I4210147158',
 'I4210146587',
 'I223464139',
 'I4210113111',
 'I4210107086',
 'I71999127',
 'I3132999081',
 'I43369023',
 'I5124864',
 'I82571370',
 'I1283103587',
 'I887968799',
 'I4210101099',
 'I4210149247',
 'I102272798',
 'I4210098300',
 'I28378616',
 'I154023281',
 'I167360494',
 'I65322002',
 'I4210122545',
 'I3121676899',
 'I4210103039',
 'I36253440',
 'I4210160019',
 'I4210101171',
 'I4210122612',
 'I3132751762',
 'I134705546',
 'I4210088717',
 'I4210166791',
 'I67031392',
 'I32135785',
 'I4210087084',
 'I57093077',
 'I4210138501',
 'I4210145365',
 'I881441977',
 'I4210137441',
 'I3132438211',
 'I162838928',
 'I23686167',
 'I4210100930',
 'I179060312',
 'I4210147002',
 'I4210125697',
 'I4210151294',
 'I4210154993',
 'I4210156995',
 'I196349391',
 'I4210132340',
 'I64251745',
 'I4210154535',
 'I4210103709',
 'I4210093893',
 'I4210152783',
 'I4210149301',
 'I74653059',
 'I1302918504',
 'I4210116506',
 'I4210103000',
 'I1303555543',
 'I4210143105',
 'I4210159477',
 'I4210107013',
 'I4210092090',
 'I4210134579',
 'I133984924',
 'I4210144718',
 'I201646274',
 'I3132474087',
 'I16097986',
 'I4210094883',
 'I4210153351',
 'I53276908',
 'I4210145672',
 'I65644108',
 'I2799564095',
 'I4210110490',
 'I4210147426',
 'I4210159778',
 'I1298017689',
 'I3131139297',
 'I4210131459',
 'I57995698',
 'I182451676',
 'I3018176973',
 'I180923762',
 'I135191193',
 'I4210118791',
 'I108160477',
 'I4210115363',
 'I63843962',
 'I4210160135',
 'I901983671',
 'I158743462',
 'I927504317',
 'I4210167276',
 'I202391551',
 'I2801681975',
 'I4210095563',
 'I1319597252',
 'I3125032317',
 'I4210119278',
 'I4210107087',
 'I1288487710',
 'I43777268',
 'I4210106641',
 'I56590836',
 'I41461413',
 'I30108710',
 'I141595442',
 'I4210123751',
 'I204722609',
 'I195846302',
 'I137265193',
 'I4210089959',
 'I4210126969',
 'I193531525',
 'I4210155399',
 'I1342547582',
 'I4210102758',
 'I4210094856',
 'I4210134929',
 'I2801737446',
 'I51504820',
 'I70908550',
 'I332035737',
 'I200641316',
 'I4210111884',
 'I4210141270',
 'I4210131702',
 'I4210152372',
 'I4210165121',
 'I134793997',
 'I192341844',
 'I4210141856',
 'I4210155997',
 'I4210094930',
 'I4210105339',
 'I10091056',
 'I2801069956',
 'I8204097',
 'I4210158088',
 'I79669737',
 'I12833781',
 'I4210154129',
 'I160253776',
 'I19716509',
 'I28670366',
 'I4210089469',
 'I4210086780',
 'I4210134523',
 'I49502546',
 'I220249241',
 'I4210152215',
 'I4210147745',
 'I133599470',
 'I4210109663',
 'I4210108595',
 'I140596196',
 'I862322245',
 'I208626154',
 'I49663120',
 'I4210120069',
 'I32062511',
 'I4210115456',
 'I4210156930',
 'I4210118524',
 'I3130313246',
 'I4210092944',
 'I157264004',
 'I184656255',
 'I30667456',
 'I171256487',
 'I24185976',
 'I4210140215',
 'I4210132153',
 'I143002897',
 'I185163786',
 'I4210141763',
 'I4210098034',
 'I4210126829',
 'I95793202',
 'I52590639',
 'I4210148225',
 'I3020668385',
 'I19688894',
 'I110200422',
 'I4210097719',
 'I4210106115',
 'I4210137396',
 'I4210110488',
 'I130579109',
 'I45812101',
 'I4210093765',
 'I45294948',
 'I18167132',
 'I133190216',
 'I34034455',
 'I913630986',
 'I4210118585',
 'I161346416',
 'I4210110888',
 'I4210161462',
 'I98220444',
 'I4210100740',
 'I148751991',
 'I4210095121',
 'I4210087421',
 'I4210134178',
 'I169255954',
 'I170905427',
 'I4210096951',
 'I3133389274',
 'I4210150607',
 'I4210129486',
 'I4210087783',
 'I90671886',
 'I4210100294',
 'I161371597',
 'I4210129763',
 'I4210146046',
 'I4210104608',
 'I186354981',
 'I91221267',
 'I887064364',
 'I4210109629',
 'I4210096496',
 'I4210123021',
 'I165339363',
 'I4210151615',
 'I4210124519',
 'I4210154710',
 'I192756129',
 'I4210088332',
 'I115475287',
 'I190567190',
 'I191972202',
 'I1336964347',
 'I58918642',
 'I1328215151',
 'I157637111',
 'I4210133125',
 'I4210154093',
 'I4210110961',
 'I92688161',
 'I31847773',
 'I4210139168',
 'I4210095325',
 'I4210094981',
 'I114472154',
 'I3020413027',
 'I4210095050',
 'I36909309',
 'I4210151438',
 'I4210140777',
 'I26604189',
 'I4210100705',
 'I62853816',
 'I51556381',
 'I89199228',
 'I4210145373',
 'I1315672318',
 'I86613570',
 'I9224756',
 'I155660961',
 'I4210146719',
 'I4210155994',
 'I1339201920',
 'I16038530',
 'I4210093468',
 'I4210112314',
 'I59807684',
 'I3019120426',
 'I4210088826',
 'I122346577',
 'I165932596',
 'I4210116766',
 'I3130395211',
 'I4210124238',
 'I4210166499',
 'I2799274915',
 'I119449181',
 'I2802331213',
 'I4210128379',
 'I196664497',
 'I4210099309',
 'I2800621266',
 'I153871386',
 'I4210122443',
 'I2800082484',
 'I152518017',
 'I169689159',
 'I56858762',
 'I1333017430',
 'I4210115747',
 'I341451707',
 'I192703390',
 'I134694890',
 'I4210112445',
 'I4210148201',
 'I3129222432',
 'I4210124726',
 'I4210165035',
 'I24101674',
 'I4210161797',
 'I4210126380',
 'I2799598336',
 'I26805570',
 'I4210158176',
 'I4210113909',
 'I4210128461',
 'I4210097851',
 'I4210087801',
 'I4210126456',
 'I4210089492',
 'I2800235667',
 'I4210087697',
 'I163340411',
 'I2802057489',
 'I4210150899',
 'I4210144087',
 'I103737770',
 'I1297288678',
 'I27462735',
 'I4210136054',
 'I19008122',
 'I2801267580',
 'I41156924',
 'I13268429',
 'I19128659',
 'I179026463',
 'I96576516',
 'I4210113316',
 'I1288059949',
 'I2802176782',
 'I4210153150',
 'I94800806',
 'I4210131321',
 'I4210157702',
 'I4210136291',
 'I60419261',
 'I4210100928',
 'I4210140791',
 'I4210090535',
 'I4210165597',
 'I169366031',
 'I4210111445',
 'I4210151351',
 'I4210166212',
 'I175611932',
 'I113992204',
 'I4210130345',
 'I253568910',
 'I4210093466',
 'I4210133607',
 'I4210138594',
 'I4210134960',
 'I24881138',
 'I157227730',
 'I134138859',
 'I2800405606',
 'I4210103515',
 'I119474363',
 'I4210158273',
 'I4210121146',
 'I4210108153',
 'I66514158',
 'I4210126242',
 'I90767664',
 'I112471378',
 'I8616870',
 'I4210114556',
 'I4210115621',
 'I4210102412',
 'I16465266',
 'I4210127572',
 'I4210111072',
 'I4210158860',
 'I173664879',
 'I105991555',
 'I205984670',
 'I66883779',
 'I3130802236',
 'I4210137853',
 'I4210100577',
 'I110262843',
 'I207206903',
 'I74994324',
 'I4210086881',
 'I162930524',
 'I4210148481',
 'I97098773',
 'I2426469',
 'I169572211',
 'I4210116062',
 'I159385669',
 'I4210125517',
 'I4210103273',
 'I4210133892',
 'I4210127054',
 'I127077003',
 'I139351228',
 'I4210113648',
 'I1282569916',
 'I80432865',
 'I4210106836',
 'I4210151988',
 'I2801097182',
 'I58089638',
 'I1877545',
 'I80327900',
 'I4210141311',
 'I177235860',
 'I2800048442',
 'I253188195',
 'I4210092956',
 'I3133382251',
 'I74775410',
 'I282159120',
 'I181631907',
 'I4210111637',
 'I1331500379',
 'I4210090941',
 'I64956957',
 'I4210088838',
 'I124841900',
 'I4210157757',
 'I4210156264',
 'I4210107234',
 'I4210166208',
 'I4210139364',
 'I141930428',
 'I145846420',
 'I4210142192',
 'I3121987637',
 'I56019348',
 'I4210127384',
 'I60342839',
 'I4210108151',
 'I4210128584',
 'I4210111398',
 'I4210138302',
 'I4210159723',
 'I53508799',
 'I157614274',
 'I126145234',
 'I79238269',
 'I2801279844',
 'I203088144',
 'I4210127457',
 'I192168892',
 'I1925986',
 'I2800006345',
 'I165779595',
 'I4210156124',
 'I4210107985',
 'I195939026',
 'I23923803',
 'I142204992',
 'I165733156',
 'I4210157930',
 'I108321963',
 'I4210149539',
 'I4210113932',
 'I2914622271',
 'I146748744',
 'I80738882',
 'I4210131870',
 'I4210086028',
 'I110120368',
 'I4210158324',
 'I2800717037',
 'I4210152341',
 'I4210105529',
 'I165525304',
 'I64045040',
 'I4210112471',
 'I4210124201',
 'I108433525',
 'I4210160897',
 'I4210160131',
 'I4210130009',
 'I4210164937',
 'I2802705189',
 'I4210161903',
 'I4210122787',
 'I15059493',
 'I72769676',
 'I2801716253',
 'I1341049462',
 'I145236414',
 'I27485261',
 'I9617848',
 'I3133134087',
 'I4210099912',
 'I1336158746',
 'I206127235',
 'I4210093580',
 'I185052938',
 'I4210149130',
 'I4210137805',
 'I4210157090',
 'I4210147117',
 'I29816883',
 'I208086522',
 'I38320133',
 'I146429904',
 'I32619867',
 'I4210131545',
 'I121596126',
 'I4210153739',
 'I4210125535',
 'I201193091',
 'I4210113474',
 'I4210099310',
 'I63030401',
 'I4210099477',
 'I62912653',
 'I4210133215',
 'I34574549',
 'I1283582996',
 'I4210131758',
 'I4210161867',
 'I4210150662',
 'I4210086423',
 'I75059550',
 'I118086122',
 'I4210164246',
 'I198587356',
 'I165682329',
 'I201850948',
 'I189575948',
 'I190243414',
 'I4210133121',
 'I2799978059',
 'I4210097148',
 'I3133345252',
 'I4210108854',
 'I1295703814',
 'I4210123299',
 'I4210135766',
 'I4210122753',
 'I4210156872',
 'I2800258182',
 'I158248296',
 'I4210137309',
 'I2800164725',
 'I172685059',
 'I56822791',
 'I2802751956',
 'I151221077',
 'I4210094533',
 'I4210147285',
 'I4210128162',
 'I898769471',
 'I4210093799',
 'I72227227',
 'I1283521677',
 'I4210088687',
 'I1315852903',
 'I4210145402',
 'I2800759272',
 'I56306041',
 'I102555177',
 'I1318233029',
 'I4210101327',
 'I204250578',
 'I4210155624',
 'I4210148560',
 'I4210135018',
 'I91819753',
 'I4210142332',
 'I4210135096',
 'I4210108416',
 'I1314466530',
 'I88060688',
 'I4210116687',
 'I2802079931',
 'I889458895',
 'I2800828884',
 'I4210095129',
 'I72350588',
 'I60559429',
 'I4210145102',
 'I4210095344',
 'I904910273',
 'I41870',
 'I188626449',
 'I64492213',
 'I84929415',
 'I4626487',
 'I109935558',
 'I118020396',
 'I1305430682',
 'I10108838',
 'I162096671',
 'I52977244',
 'I4210149184',
 'I2801227569',
 'I9927081',
 'I4210150240',
 'I4210143363',
 'I4210086342',
 'I4210107997',
 'I4210148145',
 'I4210139642',
 'I2800143506',
 'I4210094879',
 'I4210101749',
 'I4210163816',
 'I190861549',
 'I1297244568',
 'I923382979',
 'I4210152102',
 'I192507692',
 'I145487455',
 'I4210121589',
 'I4210144626',
 'I4210162985',
 'I4210153472',
 'I2800404181',
 'I1290190913',
 'I98208027',
 'I177909021',
 'I228664971',
 'I100633361',
 'I134282035',
 'I126231945',
 'I4210104344',
 'I2799345387',
 'I36515993',
 'I4210161853',
 'I4210132268',
 'I2799809383',
 'I44445938',
 'I169333911',
 'I47818738',
 'I1335863215',
 'I102322142',
 'I4210100192',
 'I60587646',
 'I4210091247',
 'I4210110861',
 'I4210113371',
 'I114531698',
 'I4210133912',
 'I4210117957',
 'I4210109212',
 'I4210161743',
 'I4210143573',
 'I4210155269',
 'I1320752870',
 'I3017770710',
 'I4210137066',
 'I24273437',
 'I4210143601',
 'I4210154075',
 'I1309849503',
 'I4210165411',
 'I1322300227',
 'I7888777',
 'I2801349156',
 'I4210087817',
 'I53012624',
 'I48296137',
 'I4210116247',
 'I882086214',
 'I4210159349',
 'I1331168281',
 'I114218197',
 'I4210141966',
 'I4210099510',
 'I169781563',
 'I100352790',
 'I4210158823',
 'I4210123941',
 'I4210098735',
 'I4210162811',
 'I1326116301',
 'I97188460',
 'I4210116025',
 'I142476485',
 'I4210132446',
 'I2802805805',
 'I123173325',
 'I59433898',
 'I4210142071',
 'I4210146298',
 'I240666556',
 'I188455399',
 'I4210152507',
 'I4210104735',
 'I99121787',
 'I4210120717',
 'I226432',
 'I4210092826',
 'I43909382',
 'I4210117272',
 'I4210106413',
 'I4210151891',
 'I921990950',
 'I4210158139',
 'I4210086807',
 'I3129293551',
 'I51314090',
 'I1334283787',
 'I4210091170',
 'I4210121570',
 'I29698356',
 'I13590829',
 'I2802759292',
 'I89095802',
 'I28813325',
 'I199932263',
 'I271100',
 'I4210101159',
 'I3019177047',
 'I4210087188',
 'I4210090965',
 'I152650591',
 'I4210112087',
 'I263512288',
 'I4210123735',
 'I1335486098',
 'I2800185424',
 'I181033969',
 'I4210121611',
 'I151727225',
 'I4210163796',
 'I21203515',
 'I4210144272',
 'I114845381',
 'I4210150894',
 'I885979982',
 'I4210104301',
 'I4210090016',
 'I36075867',
 'I100930933',
 'I4210098674',
 'I2800680523',
 'I4210151302',
 'I4210095625',
 'I4210152241',
 'I54195498',
 'I2800387288',
 'I4210103046',
 'I4210162895',
 'I192209268',
 'I114117164',
 'I117197279',
 'I83558840',
 'I81365321',
 'I4210095222',
 'I4210108042',
 'I36523846',
 'I4210119736',
 'I4210165284',
 'I111433397',
 'I4210135996',
 'I4210122384',
 'I5996616',
 'I165737746',
 'I4210115334',
 'I4210133571',
 'I4899593',
 'I4210121451',
 'I176150703',
 'I22912315',
 'I148158369',
 'I930026050',
 'I4210109489',
 'I159650629',
 'I2800055476',
 'I4210090439',
 'I87673952',
 'I90803817',
 'I4210116144',
 'I115441956',
 'I1337769664',
 'I4210105737',
 'I66906201',
 'I202266959',
 'I4210097316',
 'I32597200',
 'I3132008252',
 'I39534123',
 'I4210139061',
 'I629287',
 'I4210119683',
 'I4210164544',
 'I4210144367',
 'I4210146959',
 'I4210106910',
 'I4210092639',
 'I31649931',
 'I4210089065',
 'I908128300',
 'I29617571',
 'I188703185',
 'I4210099098',
 'I4210106319',
 'I4210089994',
 'I4210165350',
 'I152333232',
 'I4210112164',
 'I3122832768',
 'I196471810',
 'I177081203',
 'I173713965',
 'I154851008',
 'I1342364093',
 'I31571312',
 'I153512688',
 'I219164580',
 'I4210158498',
 'I61544103',
 'I4210139814',
 'I55141112',
 'I242975827',
 'I4210117053',
 'I4210166659',
 'I4210117018',
 'I4210141526',
 'I2801205178',
 'I4210091267',
 'I4210096541',
 'I65292948',
 'I4210112196',
 'I4210095919',
 'I4210144487',
 'I4210131262',
 'I102520234',
 'I4210110002',
 'I33783412',
 'I4210155278',
 'I11849452',
 'I4210098188',
 'I4210104598',
 'I4210124966',
 'I131359167',
 'I111262870',
 'I4210137226',
 'I4210119508',
 'I18193975',
 'I4210106134',
 'I114442173',
 'I2801249761',
 'I51301133',
 'I32284924',
 'I76842071',
 'I1336788258',
 'I4210110538',
 'I130359222',
 'I114395901',
 'I4210160559',
 'I87424562',
 'I176790772',
 'I271457894',
 'I34055209',
 'I161222507',
 'I4210133447',
 'I2799890334',
 'I161028277',
 'I4210156703',
 'I43439940',
 'I4210163131',
 'I23758234',
 'I4210122761',
 'I177537411',
 'I8165072',
 'I4210118904',
 'I4210136832',
 'I252914616',
 'I183088076',
 'I124335351',
 'I913140155',
 'I4210134275',
 'I4210090889',
 'I103605065',
 'I3019917394',
 'I4210126702',
 'I4210155734',
 'I4210167078',
 'I31746571',
 'I4210096139',
 'I4210123431',
 'I32393484',
 'I148518341',
 'I4210132237',
 'I146563203',
 'I4210101920',
 'I1313505808',
 'I4210115639',
 'I16337185',
 'I4210097317',
 'I4210162158',
 'I17120543',
 'I4210148693',
 'I11074976',
 'I3131416359',
 'I4210129043',
 'I150314799',
 'I4210099388',
 'I4210142920',
 'I3130577743',
 'I10213569',
 'I4210140336',
 'I28046988',
 'I4210086666',
 'I4210163046',
 'I4210159558',
 'I92621186',
 'I4210162819',
 'I123096312',
 'I4210163247',
 'I2898391981',
 'I4210153209',
 'I96478251',
 'I108468826',
 'I4210125955',
 'I4210128090',
 'I4210167293',
 'I98559091',
 'I4210124696',
 'I96195991',
 'I4210163602',
 'I2800173700',
 'I4210143836',
 'I877176835',
 'I4210088803',
 'I4210117407',
 'I199417121',
 'I4210135568',
 'I4210153772',
 'I2799856747',
 'I4210154688',
 'I2802568082',
 'I4210164876',
 'I190397597',
 'I183570559',
 'I4210107720',
 'I88830068',
 'I4210136076',
 'I1309980932',
 'I4210110658',
 'I1340206300',
 'I4210142883',
 'I4210108109',
 'I4210110242',
 'I204947315',
 'I168208266',
 'I4210100813',
 'I4210110503',
 'I161296585',
 'I76129166',
 'I174659583',
 'I193207422',
 'I4210163845',
 'I4210127969',
 'I131729948',
 'I2801997990',
 'I65837984',
 'I10011244',
 'I4210158639',
 'I4210088351',
 'I4210155026',
 'I4210145624',
 'I2799351866',
 'I168807105',
 'I5467274',
 'I1336096307',
 'I5593406',
 ...}